

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #00def7;
  background-color: black
  
}


/* TOP Navigation  Bar */

.topnav {
  overflow: hidden;
  background-color: transparent; /* Set the initial background to transparent */
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.9s; 
  z-index: 999;
}

.navbar-scrolled {

  background-color: rgba(0, 0, 0, 0.9); /* Set the background colour when scrolled below */
}

.topnav a {
  float: left;
  display: block;
  color: #f2ff04;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Anta", sans-serif;
}

.topnav a:hover {
  background-color: #e800d0;
  background-color: transparent; /* Set the initial background to transparent */
  color: #e800d0;
}

.topnav a.active {

  color: #00def7;
  font-family: "Anta", sans-serif;
  font-size: 25px;
  font-weight: 900;
}

.topnav a.active:hover {
  background-color:  #000000;
  background-color: transparent; /* Set the initial background to transparent */
  color:  #e800d0;
  font-size: 25px;
  font-weight: 900;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/* Title-DOGS */


.title {
  font-family: "Rubik Doodle Shadow", system-ui; 
   font-size: 50px;
   color: #00def6;
  
} 

.subtitle {
  font-family: "Quicksand", sans-serif;
   font-size: 30px; 
   color: rgb(255, 238, 0);
   font-weight: 300;
} 

.subtitle strong {

  font-size: 30px;
  font-style: italic;
  color: rgb(55, 255, 0);
}



/* Hero section */

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.319), rgba(0, 0, 0, 0.97)), url("Firefly A front facing very Cute Dog looking from below at camera 48418.jpeg");
  height: 50%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -00%);

}



/* CSS for Different Sections */

.section2  {
  background-color: #00a4f0; /* Light blue */
  color: #000000;
  font-family: "Quicksand", sans-serif;
  font-weight:800;
  padding: 20px; 
  border-radius: 10px;

  }


.section-heading{
  text-align: left;
  padding: 20px; 
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight:800;
  color: #1bd8f5;
  background-color: rgb(3, 36, 97)
  
}

.section-text {
  border-radius: 10px;
  padding: 20px; 
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight:800;
  color: #00cae9;
  background-color: rgb(3, 36, 97)
  
}



/* Style for displayed dog images */
#defaultDogImage {
  width: 100px;
  height: 100px;
  /* Add any additional styles as needed */
}



/* Style for select element */
#dogSelect {
  font-family: Arial, sans-serif;
  font-size: 18px;
  padding: 10px;
  color: #000000;
  border: 2px solid #00106d;
  border-radius: 10px;
  appearance: none; /* Remove default arrow icon */
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  /* Add custom arrow icon */
 /* Add custom arrow icon */
 background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000000" width="18px" height="18px"><path d="M7 10l5 5 5-5H7z"/><path fill="none" d="M0 0h24v24H0z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

/* Style for select options */
#dogSelect option {
  background-color: #4d4904;
}

/* Style for select hover effect */
#dogSelect:hover {
  border-color: #00def7;
}

/* Style for select focus effect */
#dogSelect:focus {
  outline: none;
  border-color: #00133c;
  box-shadow: 0 0 5px #002a95;
}

/* Style for button */
#getDogButton {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid #00106d;
  border-radius: 10px;
  background-color: #9fa0ff;
  color: #00035b;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Style for button hover effect */
#getDogButton:hover {
  background-color: #0508a4;
  border-color: #00def7;
  color: #ffffff;
}



/* Style for button */
#randomDogButton {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid #00106d;
  border-radius: 10px;
  background-color: #9fa0ff;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Style for button hover effect */
#randomDogButton:hover {
  background-color: #002072; 
  border-color: #00def7;
  color: #fffcfc;
}


/* Style for input field */
#searchInput {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  padding: 10px;
  border: 2px solid #00106d;
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Style for input field hover effect */
#searchInput:hover {
  border-color: #002288;
}

/* Style for input field focus effect */
#searchInput:focus {
  outline: none;
  border-color: #00133c;
  box-shadow: 0 0 5px #002a95;
}

/* Style for button */
#searchButton {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid #00106d;
  border-radius: 10px;
  background-color: #9fa0ff;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Style for button hover effect */
#searchButton:hover {
  background-color: #0508a4;
  border-color: #00def7;
  color: #ffffff;
}


/* footer */

.footer-copyright-container {
  font-size: 22px;
  text-align: center; 
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  background-color: #000000; 
  z-index: 999; 
}

.footer-columns {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  text-align: center;
  background-color: #151414; 
}

.footer-column {
  flex-basis: calc(25% - 20px);
  margin-right: 20px;
  text-align: left; 
}

.footer-column:last-child {
  margin-right: 0;
}


.social-icons a {
  color: #fff; 
  font-size: 32px; 
  margin: 0 10px;
  align-items: end;
}

.social-icons a:hover {
  color: #0c70eb; 
}

   /* Styles for the line above the copyright text */
  hr {
    border: 0;
    border-top: 1px solid #000000; 
    margin: 10px 0; /
  }

  .footer-column h4 {
    text-align: center; 
  }
  .footer-column ul {
    text-align: center; 
    color: #00def7;
  }

  .footer-column a {
    color: #00def7;
  }
  

  .info {
    padding: 40px;
    color: rgb(254, 207, 0);
  }

  .footer-column ul {
    list-style: none;
    padding: 0; 
    margin: 0; 
  }

  